# data file extensions
*.zip
*.pdf


# pycache file
__pycache__/
*.pyc
*.pyo
*.pyd


# models folders
OHSUpath/models/**
!OHSUpath/models/**/
!OHSUpath/models/**/.gitkeep


# data folders. data is for the given dataset, and minidata is reduced just for faster code testing.
data/**
!data/**/
!data/**/.gitkeep
minidata/**
!minidata/**/
!minidata/**/.gitkeep