**.pyc
backend/app/database/originals
backend/app/database/medallions/atlasf32.parquet
backend/app/database/medallions/bronze.parquet
backend/app/database/medallions/silver.parquet
backend/app/input_data/raw_input_data.zip
backend/tmp/**
backend/.idea/**
local_orchestration/docker/**
.env