numpy
huggingface-hub
beartype
olefile
cachetools
ruamel.yaml
strenum
six
opencv-python
onnxruntime
shapely
pyclipper
tiktoken
datrie
hanziconv
nltk
roman_numbers
word2number
cn2an
chardet
torch
#punkt_tab # need to install this in python from nltk
#wordnet # need to install this in python from nltk
sentence-transformers>=2.7.0 
transformers>=4.51.0 
faiss-cpu
accelerate
faiss-cpu>=1.7.4
#flash-attn>=2.6.3 
beautifulsoup4