---
services:
  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    ports:
      - "5174:5174"
    environment:
      - PYTHONPATH=/app
      - PYTHONUNBUFFERED=1
      - USE_LOCALSTACK=1
      - AWS_REGION=us-east-1
      - BEDROCK_SERVER_URL=http://bedrock-server:5175
    volumes:
      - ../backend/app/database:/app/database
      - ../backend/app/input_data:/app/input_data
      - ~/.aws:/root/.aws:ro
    networks:
      - indigo-network
    depends_on:
      - localstack

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - indigo-network

  localstack:
    image: localstack/localstack:latest
    ports: ["4566:4566"]
    environment:
      - SERVICES=s3
      - DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - LS_LOG=info
    volumes:
      - ./docker/localstack:/var/lib/localstack
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - indigo-network


networks:
  indigo-network:
    driver: bridge
